@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/lato/Lato-Thin.ttf"),
    url("./assets/fonts/lato/Lato-ThinItalic.ttf"),
    url("./assets/fonts/lato/Lato-Regular.ttf"),
    url("./assets/fonts/lato/Lato-Italic.ttf"),
    url("./assets/fonts/lato/Lato-LightItalic.ttf"),
    url("./assets/fonts/lato/Lato-Light.ttf"),
    url("./assets/fonts/lato/Lato-BoldItalic.ttf"),
    url("./assets/fonts/lato/Lato-Bold.ttf"),
    url("./assets/fonts/lato/Lato-BlackItalic.ttf"),
    url("./assets/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Thin.ttf"),
    url("./assets/fonts/poppins/Poppins-ThinItalic.ttf"),
    url("./assets/fonts/poppins/Poppins-Regular.ttf"),
    url("./assets/fonts/poppins/Poppins-Italic.ttf"),
    url("./assets/fonts/poppins/Poppins-LightItalic.ttf"),
    url("./assets/fonts/poppins/Poppins-Light.ttf"),
    url("./assets/fonts/poppins/Poppins-BoldItalic.ttf"),
    url("./assets/fonts/poppins/Poppins-Bold.ttf"),
    url("./assets/fonts/poppins/Poppins-BlackItalic.ttf"),
    url("./assets/fonts/poppins/Poppins-Black.ttf");
}

.default-font-thin {
  font-family: "Funnel", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.default-font-light {
  font-family: "Funnel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.default-font-regular {
  font-family: "Funnel", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.default-font-bold {
  font-family: "Funnel", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.default-font-max-bold {
  font-family: "Funnel", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.default-font-thin-italic {
  font-family: "Funnel", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.default-font-light-italic {
  font-family: "Funnel", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.default-font-regular-italic {
  font-family: "Funnel", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.default-font-bold-italic {
  font-family: "Funnel", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.default-font-max-bold-italic {
  font-family: "Funnel", "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
