@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("./assets/fonts/funnel/FunnelSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

.default-font-thin {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.default-font-light {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.default-font-regular {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.default-font-bold {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.default-font-max-bold {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.default-font-thin-italic {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.default-font-light-italic {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.default-font-regular-italic {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.default-font-bold-italic {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.default-font-max-bold-italic {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}
